
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container" appDropdown #headerDropdown="appDropdown">
    <a routerLink="" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" addDropdownToggle>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': headerDropdown.toggle}">
      <div class="navbar-nav">
        <a
          [routerLink]="['/recipes']"
          routerLinkActive="active"
          class="nav-item nav-link">
          Recipes
        </a>
        <a
          [routerLink]="['/shopping-list']"
          routerLinkActive="active"
          class="nav-item nav-link">
          Shopping List
        </a>

        <a
          (click)="onStop()"
          class="nav-item nav-link">
          Stop
        </a>

        <div class="nav-item dropdown" appDropdown #dropdown="appDropdown">
          <a class="nav-link dropdown-toggle">
            Data
          </a>
          <div class="dropdown-menu" [ngClass]="{'show': dropdown.toggle}">
            <a class="dropdown-item"
              (click)="onSaveData()">
              Save Data
            </a>
            <a class="dropdown-item"
              (click)="onFetchData()">
              Fetch Data
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

